---
import PostCard from '~/components/post/PostCard.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { getSortedPosts } from '~/lib/posts';

const posts = await getSortedPosts();
---

<BaseLayout
  title="Posts"
  description="Posts about software development, covering topics including dotnet, C# and NextJS"
  ogImage="/og/posts.png"
>
  <div class="flex flex-col space-y-4 px-4 pb-8">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
