---
import NotDef from '~/components/icons/NotDef.astro';
import BaseLayout from '~/layouts/BaseLayout.astro';
---

<BaseLayout title="404">
  <div class="flex h-full flex-col items-center justify-center space-y-4 px-8 pt-8">
    <div class="flex flex-row items-center gap-4">
      <h1 class="text-accent text-2xl font-bold drop-shadow-sm sm:text-3xl md:text-5xl">404</h1>
      <NotDef class="h-5 w-5" />
    </div>
    <h3 class="text-center text-xl">
      This is not the page you&apos;re looking for, <a href="/" class="text-accent hover:text-accent/80">move along</a>
    </h3>
  </div>
</BaseLayout>
