---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...attrs } = Astro.props;

const isExternal = href && !href.startsWith('/') && !href.startsWith('#');
---

<a href={href} {...(isExternal ? { target: '_blank', rel: 'noopener noreferrer' } : {})} {...attrs}>
  <slot />
</a>
