---
import PostCard from '~/components/post/PostCard.astro';
import { getSortedPosts } from '~/lib/posts';

const posts = await getSortedPosts();
const latestPosts = posts.slice(0, 3);
---

<section class="flex flex-col space-y-2">
  <div class="flex flex-row items-center justify-between border-b border-b-zinc-300 dark:border-b-zinc-700">
    <h2 class="inline-flex text-xl font-semibold sm:text-2xl">Latest Posts</h2>
    <a href="/posts" class="text-accent hover:text-accent/80 hover:underline">All</a>
  </div>

  {latestPosts.map((post) => <PostCard post={post} superCompact />)}
</section>
