---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex flex-row flex-wrap gap-2 whitespace-nowrap">
  {
    tags.map((tag) => (
      <span class="rounded-md bg-zinc-500 px-2 py-1 text-base text-zinc-50 md:text-lg lg:text-xl xl:text-2xl dark:bg-zinc-700">
        {tag}
      </span>
    ))
  }
</div>
